body{
    margin: 0px;
    padding: 0px;
}
#bookList{
    list-style-type: none;
    padding-left: 0px;
    margin-top: 10px;
}
.input-fields{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.book-list{
    border: 1px solid #dee2e6;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}